////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";
@import "../variables";


.admin{
    width: 95%;
    margin: 0 auto;
    @include typography.inter();
    @include mixins.tablet{
        width: 90%;
    }
    
    @include mixins.desktop{
        width: 80%;
    }
    
    &__search{
        
        margin-top:100px;    
        position: relative;
        @include mixins.flex(row, center, center, 1rem);
    
    &--field{
        width: 50%;
        background-color: rgba(255, 255, 255, 0.215);
        position: relative;
        border-radius: 10px;
        @include mixins.flex(row, center, center, 0);

        
        &__date-input {
            color: #d8d8d8;
            background-color: transparent;
            padding: 1.1rem;
            font-size: 1.1rem;
            font-weight: 100;
            border:none;
            cursor: pointer;
            color-scheme: dark;
            @include typography.inter();

            ::-webkit-calendar-picker-indicator{
                color: #d8d8d8;
                display: none;
            }

            &:focus{
                outline: none;
            }

        }
    }
    .buttons{
        @include mixins.flex(row, center, end, 1rem);

        .admin__search__input-button{
            color: #d8d8d8;
            border: none;
            background: none;
            cursor: pointer;
        }
        .fa-calendar-plus{
            text-align: center;
            
        }
    }
            
}

    &__bookings{
background-color: white;
        width: 100%;
        @include mixins.flex(column, center, center, 2rem);
        text-align: center;
        border: 0.2px solid rgb(174, 174, 174);
        border-radius: 10px;
        padding: 40px;
        margin-top: 40px;
        margin-bottom: 40px;


        @include mixins.desktop{
            width: 80%;  
            margin: 40px auto;            
        }

        &--date{
            padding: 10px;
            text-align: center;
            font-weight: 100;
            color: #928D8D;
        }

        &--heading{
            font-weight: 400;
            font-size: 1rem;

        }

        &__early, &__late{
            @include mixins.flex(column, left, top, 2rem);
            text-align: center;
            position: relative;
            padding: 10px;
            border-radius: 10px;
            // background-color: $purple-light;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            width: 80%;



            
            @include mixins.tablet{
                @include mixins.flex(row, center, top, 2rem);
                text-align: center;      
                width: 100%;          
            }
            
            @include mixins.desktop{
                justify-content: space-between;   
                width: 96%;                        
            }
        }

        &__icon{
            color: rgb(193, 193, 193);
            font-size: 0.7rem;
            position: absolute;
            right: -20px;
            top: 15px;

            &:hover{
                color: #928D8D;
                transform: scale(1.3);
            }
            @include mixins.tablet{
                position: relative;
                right: auto;
                top: auto;
                align-self: center;
            }
        }

        &--info{
            font-size: 0.9rem;
            color: #2c2c2c;
            padding: 10px;
            
            @include mixins.tablet{
                padding: 15px;
                @include mixins.flex(column, left, top, 2rem);
                width:26%;
                overflow: auto;
                &::-webkit-scrollbar{
                    cursor: pointer;
                    width: 5px;
                    height: 2px;
                    &-track{
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
                        border-radius: 10px;
                    }
                    &-thumb{
                        border-radius: 10px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
                    }
                }
            }
            
        }
    }
}