////////////////////
// IMPORTS & USE //
//////////////////
@use "../base/typography";
@use "../variables";
@use "../mixins";



.booking-page {

    @include typography.inter();
    @include mixins.flex(column, center, center, 2rem);

    .booking-phase-container {
        display: grid;
        grid-template-columns: repeat(9, minmax(0, 1fr));
        gap: 20px;
        button {
            border: none;
            background-color: rgba(255, 255, 255, 0.15);
            color: white;
            @include typography.inter();
            font-weight: bold;
            border-radius: 50%;

        }
        .dot {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.15);
            align-self: center;
            justify-self: center;
        }
        .booking-phase {
            align-items: center;
            color:white;
            display: flex;
            flex-direction: column;
            position: relative;
            transition: all 0.2s;
            .phase-number {
                transition: all 0.1s;
                background-color: rgba(255, 255, 255, 0.15);
                height: 28px;
                width: 28px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.85em;
            }
            .phase-name {
                transition: all 0.1s;
                position: absolute;
                bottom: -20px;
                font-size: 0.75em;
                color: rgba(255,255,255,0.15);
            }
        }
        .current {
            transform: scale(1.1);
            .phase-number {
                background-color: rgba(255,255,255,1);
                color: black
            }
            .phase-name {
                color: rgba(255,255,255,1);
            }
        }
    }
}
