////////////////////
// IMPORTS & USE //
//////////////////
@use "../base/typography";
@use "../variables";
@use "../mixins";



.booking-page {

    @include typography.inter();
    @include mixins.flex(column, center, center, 60px);

    .booking-phase-display {
        display: grid;
        grid-template-columns: repeat(7, minmax(0, 1fr));
        gap: 20px;
        user-select: none;
        button {
            border: none;
            background-color: rgba(255, 255, 255, 0.15);
            color: white;
            @include typography.inter();
            font-weight: bold;
            border-radius: 50%;
        }
        .dot {
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0.15);
            align-self: center;
            justify-self: center;
        }
        .booking-phase {
            align-items: center;
            color:white;
            display: flex;
            flex-direction: column;
            position: relative;
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            .phase-number {
                transition: all 0.1s;
                background-color: rgba(255, 255, 255, 0.15);
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.6em;
            }
            .phase-name {
                transition: all 0.1s;
                position: absolute;
                bottom: -20px;
                font-size: 0.7em;
                color: rgba(255,255,255,0.15);
            }
        }
        .current {
            transform: scale(1.1);
            .phase-number {
                background-color: rgba(255,255,255,1);
                color: black
            }
            .phase-name {
                color: rgba(255,255,255,1);
            }
        }
    }
    .form-container {
        transition: height 0.1s;
    }
    .phase-container {
        animation: fade-in 0.15s linear;
        width: 375px;
        @include mixins.flex(column, initial, initial, 35px);
    }
    .date-phase {
        .date-container {
            aspect-ratio: 4/3;
            background-color: white;
            @include mixins.flex(row, center, center);
            border-radius: 17px;
        }
        .time-container {
            @include mixins.flex(column, initial, initial, 10px);

            .title {
                align-self: center;
                color: white;
            }
            .choice-wrapper {
                color: black;
                background-color: white;
                padding: 10px;
                border-radius: 17px;
                @include mixins.flex(row, center, initial, 30px);
                span {
                    padding: 10px;
                    cursor: pointer;
                    transition: all 0.15s;
                    border-radius: 200px;
                    font-size: 0.85em;
                }
                .selected {
                    background-color: rgba($color: #000000, $alpha: 0.15);
                    font-weight: bold
                }
            }
        }
    }
    .next-phase-wrapper {
        color: white;
        display: flex;
        gap: 20px;
        cursor: pointer;
        &:hover {
            color: lightgray;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: scale(0.85);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}
