////////////////////
// IMPORTS & USE //
//////////////////
@use "../mixins";
@use "../base/typography";

.nav{

    &__logo--container{
        margin-top: 50px;
        margin-left: 50px;
        width: 180px;
        
        img{
            width: 100%;
        }
    }
}